* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  body {
    background: #f4f6f5;
    color: #c59797;
    
  }
  
  /* MENU */
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(135deg, #00c896, #007f5f);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .logo {
    color: #fff;
    font-weight: bold;
  }
  
  /* HEADER */
  .inicio {
    margin-top: 70px;
    height: 55vh;
    background: linear-gradient(135deg, #00c896, #007f5f);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 20px;
  }
  
  .inicio-menor {
    height: 40vh;
  }
  
  .inicio h1 {
    font-size: 38px;
  }
  
  .inicio p {
    font-size: 20px;
    margin: 10px 0;
  }
  
  /* BOTÃO */
  .btn {
    background: #000;
    color: #fff;
    padding: 14px 30px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
  }
  
  /* SEÇÕES */
  section {
    padding: 80px 10%;
  }
  
  .sobre,
  .forms {
    background: #fff;
  }
  
  .ajuda {
    background: #eef7f3;
  }
  
  /* CARDS */
  .cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    
  }
  
  .card {
    background: #fff;
    padding: 30px;
    width: 260px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    text-align: center;
    
  }
  
  /* FORMULÁRIOS */
  .forms {
    display: grid;
    gap: 30px;
  }
  
  .form-block {
    background: #f9f9f9;
    padding: 30px;
    border-radius: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input, textarea, button {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  button {
    background: #007f5f;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }
  
  /* FOOTER */
  footer {
    background: #007f5f;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  .container-texto {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
    line-height: 1.6; /* Melhora o espaçamento entre as linhas */
  }
  
  .grid-missao {
    display: flex;
    gap: 20px;
    margin-top: 30px;
  }
  
  .item h4 {
    color: #008f68; /* Use o tom de verde do seu site */
    margin-bottom: 10px;
  }
  .inicio {
    margin-top: 70px;
    height: 55vh;
    /* Substitua a cor pela imagem abaixo */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url(inicio.png); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}